#edit_modal_light{
  width: 500px;
}

#edit_modal_dark{
  width: 500px;
}

.modal_header_light{
  background-color: #ffffff;
}

.modal_header_dark{
  background-color: #000000;
  color: #ffffff !important;
}

.edit_modal_title_light{
  font-size: 30px !important;
  font-weight: 700 !important;
}

.edit_modal_title_dark{
  font-size: 30px !important;
  font-weight: 700 !important;
  color: #ffffff;
}
#modal_body__light{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#modal_body__dark{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

#edit_profile_light{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#edit_profile_dark{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.edit_input_text_light{
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  margin: 1%;
  padding: 1%;
  border: .5px solid #000000;
  border-radius: 1vh;
}

.edit_input_text_dark{
  background-color: #000000;
  color: #ffffff;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  margin: 1%;
  padding: 1%;
  border: .5px solid #ffffff;
  border-radius: 1vh;
}

#bio_box_light{
  height: 140px;
  resize: none;
}

#bio_box_dark{
  height: 140px;
  resize: none;
  background-color: #000000;
  color: #ffffff;
}

#file_label{
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  margin-left: 1%;
  border-radius: 1vh;
}
input::file-selector-button{
  border-radius: 1vh;
  background-color: #000000;
  color: white;
}

.char_count{
  font-size: 15px;
  font-weight: 500;
  margin-right: 1%;
  align-self: flex-end;
  margin-bottom: 0;
}

.modal_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_button_light {
  font-family: "Inter", sans-serif !important;
  background-color: #000000 !important;
  border: #000000 1px solid !important;
  color: #ffffff;
  font-size: 15px;
  padding: 1%;
  margin: 2%;
  border-radius: 0.5vh;
  font-weight: 700 !important;
  width: 50%;
}

.edit_button_dark {
  font-family: "Inter", sans-serif !important;
  background-color: #ffffff !important;
  border: #ffffff 1px solid !important;
  color: #000000;
  font-size: 15px;
  padding: 1%;
  margin: 2%;
  border-radius: 0.5vh;
  font-weight: 700 !important;
  width: 50%;
}
