#groups {
  font-family: 'Inter', sans-serif;
  padding: 1% 1%;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.btn-dash_button{
  background-color:#ff7a29 ;
  color: #ffffff;
  border: 3px solid #ff7a29 !important;
  border: none;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 1vh;
}

#groups_title{
  float: left;
  font-size: 40px;
  font-weight: 900;
  margin-left: 1%;
}