#group_chat_light {
  font-family: "Inter", sans-serif;
  display:flex;
  flex-direction: column;
  padding-top: 1%;
  border-right: 5px solid #F2F3F5;
  width: 80%;
  justify-content: flex-end;
}

#group_chat_dark {
  font-family: "Inter", sans-serif;
  display:flex;
  flex-direction: column;
  padding-top: 1%;
  border-right: 5px solid #262627;
  width: 80%;
  justify-content: flex-end;
  background-color: #000000;
  color: white;
}

#group_top {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 25px;
  justify-self: flex-start;
}

.dropdown-dash_button {
  background-color: #000000 !important;
  border: 3px solid #ffffff !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border-radius: 1vh;
  margin-bottom: 5%;
  margin-right: 1% !important;
}

.dropdown-dash_button:hover{
  background-color: white !important;
  color: #000000 !important;
  border: 3px solid #000000 !important;
}
#add_button{
  margin-bottom: 5%;
  margin-right: 1%;
}

.dropdown-toggle::after {
  display: none !important; 
}

#group_title_light {
  float: left;
  font-size: 40px;
  font-weight: 900;
  margin-left: 1%;
  color: #000000;
}

#group_title_dark {
  float: left;
  font-size: 40px;
  font-weight: 900 !important;
  margin-left: 1%;
  color: #ffffff;
}

.dropdown-menu-custom {
  align-items: start;
  background-color: #ffffff;
  padding: 0% 1% 0% 1% ;
  border-radius: 1vh;
}

.dropdown-item-custom {
  color: #000000 !important;
  font-family: "Inter", sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important; 
  /* padding: 10% 0% 5% 0% ; */
}

.overflow{
  overflow: scroll;
  /* -ms-overflow-style: none; */
  flex-grow: 1;
}

.grow{
  flex-grow: 1;
}

#bottom_chat_light{
  display: flex;
  width: 98%;
  justify-content: center;
  overflow: hidden; 
  color: #000000 !important;
  border: 3px solid #000000 !important;
  border-radius: 1vh;
  margin: 1%;
  padding: 5px;
  justify-self: flex-end;
  /* position: fixed; */
}

#bottom_chat_dark{
  display: flex;
  width: 98%;
  justify-content: center;
  overflow: hidden; 
  color: #ffffff !important;
  border: 3px solid #ffffff !important;
  border-radius: 1vh;
  margin: 1%;
  padding: 5px;
  justify-self: flex-end;
  /* position: fixed; */
}


.chat_box{
  width: 98%;
  max-width: 98%;
  height: auto;
  align-self: center;
  flex-grow: 1;
  justify-content: center;
  resize: none;
  white-space: pre-wrap;
}

.chat_box:focus{
  outline: none;
}

#send_message_light{
  font-size: 20px;
  color: #000000;
}

#send_message_dark{
  font-size: 20px;
  color: #000000;
}

.send_message_btn_light{
  color: #000000;
  font-size: 30px;
  align-self:end;
}

.send_message_btn_dark{
  color: #ffffff;
  font-size: 30px;
  align-self:end;
}

.wrapper{
  display: inline-block;
}

#group_title{
  float: left;
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 40px;
  font-weight: 900;
}

#submit_message_light{
  border: none;
  background-color: #ffffff;
}

#submit_message_dark{
  border: none;
  background-color: #000000;
  color: #ffffff;
}