.social_icons{
  display: flex;
  flex-direction: column;
}


.socials_light{
  color: #000000;
  font-size: 20px;
  margin: 3px;
}

.socials_dark{
  color: #ffffff;
  font-size: 20px;
  margin: 3px;
}

.socials:hover{
  /* color: #000000; */
  cursor: pointer;
}