.friends_list {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  width: 100%;
  padding: 2% 0%;
  border-top: 2px solid #F2F3F5;
  border-bottom: 2px solid #F2F3F5;
  cursor: pointer !important;
}
.friends_list:hover{
  color: #ffffff;
  background-color: #000000;
}

.friend_prof_pic {
  width: 15%;
  border-radius: 50%;
  /* border-radius: 50%; */
  /* padding: 5% 10%; */
}

.friedns_name{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  padding-left: 10px;
}