/* #city_input{
  width: 100%;
}

#city{
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  margin: 1%;
  padding: 1%;
  width: 98%;
}
#places{
  font-size: 50px !important;
} */
/* .csc_selector{
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  margin: 1%;
  padding: 1%;
  width: 98%;
} */
