#sign_up_modal{
  width: 500px;
}

.modal_title{
  font-size: 30px !important;
  font-weight: 700 !important;
}
#sign_up_form{
  display: flex;
  flex-direction: column;
}

#first_last{
  display: flex;
  width: 100%;
  flex: 1;
}

.sign_up_text{
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  margin: 1%;
  padding: 1%;
  border: .5px solid #000000;
  border-radius: 1vh;
}

#modal_foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error_message{
  font-size: 15px;
  color: red;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 580px) {
  #sign_up_modal{
    width: 300px;
    justify-content: center;
    align-items: center;
  }

  #first_last{
    flex-direction:column;
  }

  .sign_up_text{
    flex-grow: 1;
    font-size: 20px;
    font-weight: 500;
    margin: 1%;
    padding: 1%;
    border: .5px solid #000000;
    border-radius: 1vh;
  }

  .modal-content {
    width: 600px !important;
    /* display: flex !important;
    align-items: center !important;
    justify-content: center !important; */
    /* width: 500px !important */
    /* --bs-modal-margin: 1.75rem !important;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
}


  .modal {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* width: 500px !important */
    /* --bs-modal-margin: 1.75rem !important;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
}

}