#friends_nav {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  padding-top: 3% !important;
  margin: 2% 2% 2% 2%;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  width: 15%;
  padding: 5px;
}

#friends_title {
  float: left;
  font-size: 30px;
  font-weight: 800;
  margin-left: 1%;
  color: #000000;
}
