.group_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_group {
  font-weight: 900 !important;
  font-family: "Inter", sans-serif;
  width: 85%;
  height: 200px;
  border-radius: 1vh;
  position: relative;
  padding: 20px;
  margin-bottom: 1%;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  background-size: cover;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 10px #000000;
  transition: box-shadow 0.1s ease-in-out;
  margin-top: 2% !important;
  cursor: pointer !important;
}
.card_group:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0 30px #000000;
}
.group_title{
  font-weight: 800 !important;
}
.num_mem{
  font-weight: 800 !important;
  font-size: 20px;
}

.first_card_group{
  font-family: "Inter", sans-serif;
  width: 85%;
  height: 200px;
  border-radius: 1vh;
  position: relative;
  padding: 20px;
  margin-bottom: 1%;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  background-size: cover;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 10px #000000;
  transition: box-shadow 0.1s ease-in-out;
  margin-top: 5% !important;
  cursor: pointer !important;
}
.first_card_group:hover {
  background-color: #000000;
  box-shadow: 0 0 40px;
  color: #ffffff;
  box-shadow: 0 0 40px #000000;
}
.left_card {
  display: flex;
  flex-grow: 2;
  align-items: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

.right_card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.card_prof_pic {
  width: 40px;
}
