#dash_nav_light{
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color:#000000;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-right: 5px solid #F2F3F5;
  width: 17%;
}

#dash_nav_dark{
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color:#ffffff;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-right: 5px solid #262627;
  width: 17%;
}

.profile_pic{
  border-radius: 50% !important; 
  width: 200px!important;
  height: 200px !important;
  margin-bottom: 5% !important;
  
}

#title_light{
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 50px;
  font-weight: 900;
  padding-top: 25px;
  margin-bottom: 30%;
}

#title_dark{
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  padding-top: 25px;
  margin-bottom: 30%;
}

#at_light{
  color: #000000;;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15%;
  cursor: pointer !important;
}

#at_dark{
  color: #ffffff;;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15%;
  cursor: pointer !important;
}

#bio_light{
  color: #000000;;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15%;
  cursor: pointer !important;
}

#bio_dark{
  color: #ffffff;;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15%;
  cursor: pointer !important;
}

.dashnav_text_light{
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-weight: 700;
  cursor: pointer !important;
}

.dashnav_text_dark{
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #ffffff !important;;
  font-weight: 700;
  cursor: pointer !important;
}

.dashnav_text_light:first-of-type{
  margin-top: 20%;
}

.dashnav_text_dark:first-of-type{
  margin-top: 20%;
}

.dashnav_text:hover{
  color: #000000;
}

#delete_btn_light{
  color: #000000;
}

#delete_btn_dark{
  color: #ffffff;
}

#delete_btn:hover{
  color: #000000;
  cursor: pointer;
}

.grow{
  flex-grow: 1;
}

.theme_button_dark{
  margin-top: 10%;
  margin-bottom: 10%;
  color: #ffffff;
}

.theme_button_light{
  color: #000000;
  margin-top: 10%;
  margin-bottom: 10%;
}